
Api key.txt
environem.bash
environemt.sh
tets.py
projetRSS-env
.venv
start.ps1
setenv.ps1
active_and_setenv.ps1
start.bat
/.idea/Projet-RSS.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
