    /* Style personnalisé pour le lecteur audio */
      audio {
        width: 60%; /* Largeur de 100% */
        outline-color: #ffffff; /* Supprime la bordure d'outline */
      }
    
      /* Style pour les contrôles audio */
      audio::-webkit-media-controls-panel {
        background-color: #303030; /* Couleur de fond */
        color: #ffffff; /* Couleur du texte */
      }
    /* Style personnalisé pour le bouton de pause */
    audio::-webkit-media-controls-play-button,
    audio::-webkit-media-controls-pause-button {
      margin-right: 0.5rem;
      background-color: #ffffff; /* Couleur du bouton de pause */
      border-radius: 50%;
    }

    /* Style personnalisé pour le bouton de volume */
    audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
    }


    /* Style personnalisé pour la poignée de la barre de progression */
    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display {
      color: #ffffff; /* Couleur du texte de la poignée */
    }
    audio::-webkit-media-controls-timeline {
      background-color: #ffffff;
      border-radius: 20px;
      padding: 5px;
      margin-left: 3%;
      margin-right: 10px;
    }

    audio::-webkit-media-controls-volume-slider {
      background-color: #ffffff;
      border-radius: 25px;
      padding-left: 8px;
      padding-right: 8px;
    }