<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You RSS</title>
  <link rel="icon" href="static/icon.ico" type="x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <header class="bg-dark py-3">
    <div class="container text-center">
      <h1 class="text-white">Bienvenue sur <strong>You RSS</strong></h1>
    </div>
  </header>

  <div class="container my-5">
    <form action="" method="POST" class="row g-3">
      <div class="col-md-6">
        <label for="search" class="form-label ">Date:</label>
        <input type="date" id="search" name="search" class="form-control">
      </div>
      <div class="col-md-4">
        <label for="categorie" class="form-label">Choisissez une option :</label>
        <select id="categorie" name="categorie" class="form-select --bs-body-color">
          <option value="">Tout afficher</option>
          {% for categories in categorie %}
            <option value="{{ categories[0] }}">{{ categories[1] }}</option>
          {% endfor %}


        </select>
      </div>
      <div class="col-md-2 align-self-end --bs-secondary-bg">
        <button type="submit" class="btn btn-primary ">Rechercher</button>
      </div>
    </form>
  </div>

  <main class="container">
    <section>
      {% for podcast in sql %}
        <div class="card mb-3">
          <div class="card-body text-center">
            <h5 class="card-title">Podcast du : {{ podcast[1].strftime("%d %B %Y") }} à 12h00</h5>
            <audio controls>
              <source src="{{ podcast[2] }}" type="audio/wav">
              Votre navigateur ne prend pas en charge l'élément audio.
            </audio>
            {% if podcast[4] is none or podcast[5] is none%}
              <p>Aucun lien disponible</p>
            {% else %}
            <div class="text-center">
              <button class="btn btn-primary col-md-2 align-self-end text-center" onclick="toggleLinks(this)">Afficher les liens</button>
              <div class="links " style="display: none;">
                <p>Articles :</p>
                {% for i in range(podcast[4].split(';')|length) %}
                  {% if podcast[4].split(';')[i] and podcast[5].split(';')[i] %}
                    <a href="{{ podcast[4].split(';')[i] }}" target="_blank">{{ podcast[5].split(';')[i] }}</a><br>
                  {% else %}
                    <a href="{{ podcast[4].split(';')[i] }}" target="_blank">{{ podcast[4].split(';')[i] }}</a><br>
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            {% endif %}
          </div>
        </div>
      {% endfor %}
    </section>
    <section class="mt-4">
      <canvas id="visualisationCanvas" class="w-100" style="height: 400px;"></canvas>
    </section>
  </main>

  <footer class="footer bg-light py-3 mt-4">
    <div class="container text-center">
      <p>© 2024 YouRSS</p>
    </div>
  </footer>
  <script>
    function toggleLinks(button) {
      var linksDiv = button.nextElementSibling;
      if (linksDiv.style.display === "none") {
        linksDiv.style.display = "block";
        button.textContent = "Masquer les liens";
      } else {
        linksDiv.style.display = "none";
        button.textContent = "Afficher les liens";
      }
    }
  </script>
</body>
</html>
