<!DOCTYPE html>
<html>
<head>
    <title>Mon Podcast</title>
    <link href='/static/style.css' rel="stylesheet">
</head>
<body>
    <header>
        <h1>Bienvenue sur Mon Podcast</h1>
        <form action="" method="POST">
            <input type="text" id="search" name="search" placeholder="Rechercher">
            <select id="lang" name="lang">
                <option value="fr">All</option>
                <option value="en">Anglais</option>
                <option value="all">Français</option>
            </select>
            <button type="submit">Rechercher</button>
        </form>
    </header>
    <main>
        <section>
            <h2>Épisode 1</h2>
            <audio controls>
                <source src="horse.ogg" type="audio/ogg">
              Your browser does not support the audio element.
              </audio> 
        </section>
        <section>
            <h2>Épisode 2</h2>
            <audio controls>
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio> 
              <h2>Nombre de musiques : {{ podcas|length }}</h2>
              {% for musique in podcas %}
                  <h2>{{ musique['musique'] }}</h2>
                  <audio controls>
                      <source src="{{ musique['Nom'] }}" type="audio/ogg">
                  </audio> 
              {% endfor %}
              

            
        </section>
    </main>
    <footer>
        <p>© 2024 Mon Podcast</p>
    </footer>
</body>
</html>
